@import url("https://fonts.googleapis.com/css2?family=Anek+Odia:wght@300;400;500;700&family=Cutive+Mono&family=Itim&family=Macondo+Swash+Caps&family=Quicksand:wght@300;400;500;600;700&family=Qwigley&family=Sofia&display=swap");

:root {
  --textBlack: rgb(153, 70, 97);
  --textWhite: rgb(255, 237, 246);
  --shadow: rgb(146, 75, 108);
}
* {
  font-family: "Inter";
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
